////////////////////////////////////////////////////////////////////////////////
//
// Wks Resources
//
////////////////////////////////////////////////////////////////////////////////


////////////////////////////////////////////////////////////////////////////////
//
// Icons
//
// icon file have to be 256 color dept or brcc32 will not compile
// windows automatically use bitmap resource with lower res-id or use Application.Icon.Handle to load a specific icon
100_WKS_ICON_RC                                ICON            ".\WksIcon.ico"
